adafruit-ampy==1.0.7
appdirs==1.4.4
black==21.6b0
click==7.1.2
ecdsa==0.15
esptool==2.8
mypy-extensions==0.4.3
pathspec==0.8.1
pyaes==1.6.1
pyserial==3.4
python-dotenv==0.14.0
pyudev==0.22.0
regex==2021.7.6
rshell==0.0.28
six==1.15.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
